.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  border: 3px solid var(--smoke);

  background-color: var(--light-purple);

  padding: 15px 20px;
  .item {
    display: flex;
    flex-wrap: wrap;

    max-width: 300px;
    width: 200px;
  }
  .action {
    button {
      background-color: var(--purple1);
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}
