.root {
  margin-bottom: 60px;
  display: flex;

  justify-content: space-between;
  h3{
    cursor: pointer;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    input {
      padding: 10px 15px;
      outline: none;
      font-size: 16px;
      animation: showUp 0.5s;
    }
    .action {
      text-align: center;
      padding-top: 10px;
      animation: showUp 0.3s;

      button {
        color: #fff;
        padding: 10px 15px;
        border: none;
        background-color: var(--light-purple);
      }
    }
  }
}

@keyframes showUp {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
